@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding-left: 0;
  /* Сдвигаем список влево */
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/photo.jpg);
  background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/photo.jpg);
  background-repeat: no-repeat;
  height: 1024px;
  position: relative;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  margin-left: 2px;
  margin-right: 219px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 62px;
}

.header__menu-list a {
  color: #ffffff;
}

.header__menu-list a:hover {
  color: #c7b299;
}

.header__menu-list li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
  margin-right: 29px;
  padding: 0px;
}

.header__menu-list li:last-child {
  margin-right: 63px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.header__search__img1 {
  cursor: pointer;
}

.header__search__img2 {
  margin-left: 20px;
  cursor: pointer;
}

.ogranich {
  max-width: 1620px;
  max-height: 261px;
  margin: 269px auto 0 auto;
}

.ogranich::before {
  content: '';
  background: url(../img/slider/left.png) no-repeat;
  width: 40px;
  height: 73px;
  position: absolute;
  top: 450px;
}

.ogranich::after {
  content: '';
  background: url(../img/slider/right.png) no-repeat;
  width: 40px;
  height: 73px;
  position: absolute;
  top: 450px;
  right: 110px;
}

.menu-slider-wrapper {
  text-align: center;
  color: #ffffff;
}

.menu-slider-wrapper p {
  margin: 0;
}

.menu-slider-text1 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 4px;
}

.menu-slider-text2 {
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 10px;
}

.menu-slider-text3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

.menu-slider-button {
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  display: inline-block;
  cursor: pointer;
}

.menu-slider-button span {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding: 21px 39px 21px 37px;
}

.dotted__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 47.9%;
  padding-bottom: 15px;
}

.dotted__img .dotted__img__1 {
  margin-right: 10px;
}

.dotted__img .dotted__img__2 {
  margin-right: 10px;
  display: block;
  padding-top: 1px;
}

.services {
  background-color: #ffffff;
}

.services__container {
  max-width: 1166px;
  max-height: 213px;
  margin: 80px auto;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 266px;
  text-align: center;
  margin-right: 33px;
}

.services__row__items:last-child {
  margin: 0;
}

.services__row-items__title:nth-child(2) {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #c7b299;
  color: #555555;
}

.services__row-items__subtitle {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 25px;
}

.services__row-items__img {
  text-align: center;
  margin-bottom: 24px;
  width: 52px;
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
}

.waxon {
  padding-top: 80px;
  background-color: #fbfaf8;
}

.waxon__title {
  margin: 0 auto;
}

.waxon__title p {
  text-align: center;
  color: #555555;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
}

.waxon__subtitle {
  margin: 0 auto 40px auto;
  max-width: 753px;
}

.waxon__subtitle p {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.waxon__img {
  max-width: 1230px;
  height: 482px;
  margin: 0 auto;
  background: url(../img/waxon/browser-center.jpg) 230px 0px no-repeat, url(../img/waxon/browser-left.jpg) 0px 82px no-repeat, url(../img/waxon/browser-right.jpg) 460px 82px no-repeat;
}

.waxon-buttom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.waxon-buttom__text {
  margin-top: 45px;
  margin-bottom: 49px;
  margin-left: 306px;
}

.waxon-buttom__text__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
  color: #c7b299;
}

.waxon-buttom__text__subtitle {
  color: #615855;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.waxon-buttom__botton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 170px;
  height: 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  margin: 50px 270px 50px 495px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.waxon-buttom__botton span {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.our-projects-head {
  margin-bottom: 40px;
}

.projects-container {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 75px auto 0 auto;
}

.our-projects-head__text__title {
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.our-projects-head__text__subtitle {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 757px;
  margin-bottom: 40px;
}

.our-projects-head__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-projects-head__link__botton {
  max-width: 120px;
  max-height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  margin-right: 10px;
  cursor: pointer;
}

.our-projects-head__link__botton:last-child {
  margin: 0;
  padding: 10px 23px 8px 24px;
}

.our-projects-head__link__botton:first-child {
  padding: 10px 27px 11px 25px;
}

.our-projects-head__link__botton:nth-child(2) {
  padding: 10px 19px 8px 18px;
}

.our-projects-head__link__botton:nth-child(3) {
  padding: 10px 21px 8px 21px;
}

.our-projects-head__link__botton:nth-child(4) {
  padding: 10px 24px 11px 24px;
}

.our-projects-head__link__botton:hover {
  background-color: #998675;
}

.our-projects-head__link__botton:hover span {
  color: #e7e3df;
}

.our-projects-head__link__botton span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.our-projects-content-wrapper {
  max-width: 1170px;
  max-height: 677px;
}

.our-projects-content__item {
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
}

.our-projects-content__item:nth-child(3) {
  margin-right: 0px;
}

.our-projects-content__item:last-child {
  margin-right: 0;
}

.our-projects-content__item:hover .photo1 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo1.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo1.jpg) no-repeat;
}

.our-projects-content__item:hover .photo2 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo2.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo2.jpg) no-repeat;
}

.our-projects-content__item:hover .photo3 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo3.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo3.jpg) no-repeat;
}

.our-projects-content__item:hover .photo4 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo4.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo4.jpg) no-repeat;
}

.our-projects-content__item:hover .photo5 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo5.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo5.jpg) no-repeat;
}

.our-projects-content__item:hover .photo6 {
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo6.jpg) no-repeat;
  background: url(../img/projects/link.png) 144px 106px no-repeat, url(../img/projects/lupa.png) 198px 106px no-repeat, linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/projects/arrow-dark.png) 20px bottom no-repeat, url(../img/projects/photo6.jpg) no-repeat;
}

.our-projects-content__item:hover .our-projects-content__item__text {
  background-color: #362f2d;
}

.our-projects-content__item:hover .our-projects-content__item__text__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.our-projects-content__item:hover .our-projects-content__item__text__subtitle {
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.our-projects-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-projects-content__item__img {
  width: 370px;
  height: 237px;
}

.photo1 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo1.jpg) no-repeat;
}

.photo2 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo2.jpg) no-repeat;
}

.photo3 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo3.jpg) no-repeat;
}

.photo4 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo4.jpg) no-repeat;
}

.photo5 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo5.jpg) no-repeat;
}

.photo6 {
  background: url(../img/projects/arrow.png) 20px bottom no-repeat, url(../img/projects/photo6.jpg) no-repeat;
}

.our-projects-content__item__text {
  max-height: 100px;
  background-color: #fbfaf8;
  padding-top: 30px;
  padding-bottom: 1px;
  padding-left: 28px;
}

.our-projects-content__item__text:hover .our-projects-content__item__text {
  background-color: #362f2d;
}

.our-projects-content__item__text:hover .our-projects-content__item__text__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.our-projects-content__item__text:hover .our-projects-content__item__text__subtitle {
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.our-projects-content__item__text__title {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.our-projects-content__item__text__subtitle {
  color: #d1d1d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.our-projects-botton {
  margin: 70px auto;
  width: 170px;
  height: 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-projects-botton a {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.video-waxon-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.5))), url(../img/video/photo.png) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.5)), url(../img/video/photo.png) no-repeat;
  height: 705px;
  width: 100%;
  position: relative;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-waxon-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 37%;
}

.video-waxon__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
}

.video-waxon__subtitle {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.video-waxon__img .video-waxon__img1 {
  position: absolute;
  content: '';
  top: 30%;
  right: 45%;
}

.video-waxon__img .video-waxon__img2 {
  cursor: pointer;
  position: absolute;
  top: 14.0%;
  left: 14.8%;
}

.exellent-text {
  margin-top: 8.32%;
}

.exellent-container {
  max-width: 1109px;
  margin-left: 22%;
  margin-top: 11.3%;
}

.exellent-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exellent-text__title {
  color: #555555;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}

.exellent-text__subtitle {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 35px;
}

.exellent-text__list {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  padding-left: 50px;
}

.exellent-text__list li {
  background: url(../img/exellent/liicon.png) left 5px no-repeat;
  padding-left: 50px;
}

.exellent-bottom {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding-top: 69px;
  margin-top: -5px;
}

.exellent-bottom-container {
  max-width: 920px;
  margin: 0 auto;
}

.exellent-bottom__number {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  margin: 25px 0 20px 0;
}

.exellent-bottom__text {
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.exellent-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.exellent-bottom__items {
  width: 136px;
}

.exellent-bottom__items hr {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 27px;
  border: none;
}

.exellent-bottom__img {
  text-align: center;
}

.recent-photo {
  margin-top: 82px;
}

.recent-photo-top {
  margin-bottom: 40px;
}

.recent-photo-container {
  width: 757px;
  margin: 0 auto;
}

.recent-photo-container p {
  text-align: center;
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  font-family: Raleway;
}

.recent-photo-container .recent-photo-top__subtitle {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 35px;
  text-align: center;
}

.recent-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.recent__items {
  width: 370px;
  height: 395px;
  border: 1px solid #f8f8f8;
}

.recent__items:hover .recent-photo__text {
  background-color: #362f2d;
}

.recent__items:hover .recent-photo__title {
  color: #c7b299;
}

.recent__items:hover .recent-photo__subtitle {
  color: #ffffff;
}

.recent__items:hover .recent-photo-data__bottom {
  background-color: #a48d72;
}

.recent__items:hover .recent-photo-data__top {
  background-color: #c7b299;
}

.recent__items:hover .recent-photo__photo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/recent/photo1.png) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/recent/photo1.png) no-repeat;
}

.recent__items:hover .recent-photo__photo2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/recent/photo2.png) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/recent/photo2.png) no-repeat;
}

.recent__items:hover .recent-photo__photo3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/recent/photo3.png) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/recent/photo3.png) no-repeat;
}

.recent-photo__img {
  position: relative;
}

.recent-photo__photo {
  background: url(../img/recent/photo1.png) no-repeat;
  width: 370px;
  height: 220px;
}

.recent-photo__photo2 {
  background: url(../img/recent/photo2.png) no-repeat;
  width: 370px;
  height: 220px;
}

.recent-photo__photo3 {
  background: url(../img/recent/photo3.png) no-repeat;
  width: 370px;
  height: 220px;
}

.recent-photo-data {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.recent-photo-data__top {
  width: 50px;
  height: 35px;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}

.recent-photo-data__bottom {
  width: 50px;
  height: 25px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.recent-photo__text__container {
  width: 297;
  margin-left: 29px;
}

.recent-photo__title {
  color: #555555;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-top: 27px;
}

.recent-photo__subtitle {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.recent-photo__link a {
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.recent__strelki {
  margin-top: 40px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent__strelki__1 {
  margin-right: 8px;
}

.barber {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7))), url(../img/barber/photo.png);
  background: linear-gradient(rgba(17, 17, 17, 0.7)), url(../img/barber/photo.png);
  height: 489px;
}

.barber-container {
  margin: 0 auto;
  width: 1110px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 140px;
}

.twitter {
  background-color: #191919;
  padding-top: 80px;
}

.twitter-container {
  max-width: 1170px;
  margin: 0 auto;
}

.twitter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter__row__colum1 {
  padding-right: 21px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.twitter__logo {
  position: relative;
}

.twitter__logo span {
  margin-left: 2px;
  color: white;
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  position: absolute;
  top: 50%;
  margin-top: -0.625em;
}

.twitter__text {
  margin-top: 29px;
  margin-bottom: 33px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.twitter__link a {
  color: #d1d1d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.twitter__row__colum2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-left: 21px;
}

.twitter__row_title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
}

.twitter__row__text {
  font-family: 'Montserrat', sans-serif;
}

.twitter__row__text p {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__row__text span {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__row__text:hover span {
  color: #ffffff;
}

.twitter__row__text:hover p {
  color: #c7b299;
}

.twitter__row__text hr {
  height: 1px;
  background-color: #595f6f;
  border: none;
}

.twitter__row__colum3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-left: 25px;
}

.twitter__row__colum3 hr {
  border: none;
  height: 1px;
  background-color: #595f6f;
}

.twitter__row__colum3__text p {
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__row__colum3__text a {
  color: #00bff3;
}

.twitter__row__colum3__text span {
  color: #363636;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.special a {
  color: #959595;
}

.twitter__row__colum4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
  padding-left: 25px;
}

.twitter__row__colum4-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.twitter__row__colum4__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 26px;
}

.twitter__row__colum4__img1 {
  margin-right: 10px;
}

.twitter__row__colum4__img3 {
  margin-right: 10px;
  margin-top: 2px;
}

.twitter__row__colum4__img4 {
  margin-top: 2px;
}

.podval {
  background-color: #111111;
  padding-bottom: 20px;
}

.podval-container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.podval-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.podval-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.podval-left__text {
  color: #555555;
}

.podval-left-content {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #555555;
}

.podval-left-content span {
  color: #ffffff;
}

.podval-left__waxon {
  color: #959595;
  margin-left: 5px;
  margin-right: 5px;
}

.podval-left__privacy {
  font-size: 13px;
  color: #555555;
  margin-left: 5px;
  margin-right: 5px;
}

.podval-left__privacy:hover {
  color: #c7b299;
}

.podval-left__faq {
  margin-left: 5px;
  margin-right: 9px;
  color: #555555;
}

.podval-left__faq:hover {
  color: #c7b299;
}

.podval-left__support {
  font-size: 13px;
  color: #555555;
  margin-left: 5px;
  margin-right: 5px;
}

.podval-left__support:hover {
  color: #c7b299;
}

.podval-right {
  width: 320px;
  height: 14px;
  color: #959595;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.Designed {
  color: #555555;
}

.slash {
  color: #252525;
}
/*# sourceMappingURL=style.css.map */